{% extends 'base.html' %}


{% block conteudo %}
<form action="/meu_delicious/salvar_favorito/" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="fieldWrapper">
    {{ form.titulo.errors }}
    <label for="id_subject">Titulo:</label>
    {{ form.titulo }}
  </div>
  <div class="fieldWrapper">
    {{ form.url.errors }}
    <label for="id_message">URL:</label>
    {{ form.url }}
  </div>
  <p><input type="submit" value="Salvar" /></p>
</form>
 {% endblock conteudo %}
